<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- POTOK_LOG_JSON=true switches to structured JSON (logstash encoder, MDC included);
         default is human-readable plain text with MDC fields inline. -->
    <springProperty scope="context" name="LOG_JSON" source="potok.log.json" defaultValue="false"/>

    <if condition='property("LOG_JSON").equals("true")'>
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </then>
        <else>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} wf=%X{workflow_name:-} exec=%X{execution_id:-} - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
